* {
  color: #fff;
}
.names-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-name {
  font-size: 20px;
  text-align: left;
  margin-left: 0;
}
.date {
  font-size: 18px;
}
.text {
  font-size: 14px;
}

.logo {
  width: 90px;
}
